.intro{
    display: flex;
    height: 77vh;
    margin-top: 6rem;
}
.i-left{
    display: flex;
    flex: 1;
    position: relative;
    flex-direction: column;
}
.i-name{
    display: flex;
    flex-direction: column;
}
.i-name>:nth-child(1){
    color: var(--black);
    font-weight: bold;
    font-size: 3rem;
}
.i-name>:nth-child(2){
    color: var(--orange);
    font-weight: bold;
    font-size: 3rem;
}
.i-name>:nth-child(3){
    color: var(--black);
    font-weight: normal;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
}
.i-button{
    width: 6rem;
    height: 2rem;
}
.i-icons{
    display: flex;
    /* gap: 4rem;
   transform: scale(0.5); */
    /* margin-left: -200px; */
    margin-top: 3rem;
}
.i-icons>*{
    transform: scale(0.5);
}
.i-icons>*{
    cursor: pointer;
}




.i-right{
    position: relative;
    flex: 1;
}
.i-right>*{
    position: absolute;
    z-index: 1;
}
.i-right>:nth-child(1){
    transform: scale(.7);
    left: -15%;
    top: -9%;
}
.i-right>:nth-child(2){
    transform: scale(0.7);
    left: -3rem;
    top: -4.5rem;
}
.i-right>:nth-child(3){
    transform: scale(1.4);
    left: 28%;
    
}

.i-right>:nth-child(4){
    transform: scale(0.6);
    left: -24%;
    top: -19%;
    border-radius: 50%;
}
.blur{
    position: absolute;
    width: 22rem;
    height: 14rem;
    border-radius: 50%;
    background: #edd0ff;
    filter: blur(212px);
    z-index: -9;
    top: -18%;
    left: 56%;
    filter: blur(72px);
}