.works{
    padding: 0 3rem;
    display: flex;
    height: 90v;
    margin-top: 4rem;
    margin-bottom: 5rem;
}

.w-right{
    position: relative;
    /* display: flex; */
    flex: 1;
}
.w-mainCircle{
    position: relative;
    left: 9rem;
    top: 2rem;
    width: 18rem;
    height: 18rem;
    border-radius: 100%;
    box-shadow: var(--smboxShadow);
    background: white;
}
.w-mainCircle>*{
    position: absolute;
}
.w-mainCircle>:nth-child(1){
    top: -3rem;
    left: 6rem;
}
.w-mainCircle>:nth-child(2){
    top: 5rem;
    left: -3rem;
}
.w-mainCircle>:nth-child(3){
    top: 5rem;
    left: 6rem;
}
.w-mainCircle>:nth-child(4){
    top: 5rem;
    left: 15rem;
}
.w-mainCircle>:nth-child(5){
    top: 13rem;
    left: 6rem;
}
.w-secCircle{
    width: 6rem;
    height: 6rem;
    border-radius: 100%;
    border: 5px solid #ebebeb;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    box-shadow: var(--smboxShadow);  

}
.w-secCircle>img{
    transform: scale(0.6);
}
.backCircle{
    position: absolute;
    width: 13rem;
    height: 13rem;
    border-radius: 100%;
    z-index: -1;
}
.blueCircle{
    background: blue;
    left: 13rem;
    top : 0rem;
}
.yellowCircle{
    background: rgb(230, 222, 8);
    left: 13rem;
    top : 8rem;
}